# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules
package-lock.json

# Testing
/coverage

# MAC
.DS_Store

# Production
/build

# Keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MDB
mdbreact-*

# All editor configs but vscode
.editorconfig
.idea

# Logs
*.log*

# SPDX-License-Identifier: (EUPL-1.2)
# Copyright © Simon Prast
